<a [routerLink]="['../']">
  <fa-icon [icon]="['fas', 'angle-double-left']"></fa-icon>
  Return to actions
</a>

<h1 class="title" *ngIf="type === 'player'">{{ name }} transfers money</h1>
<h1 class="title" *ngIf="type === 'company'">
  <span [appCompanyColors]="eq.state.companies[name]">{{ name }}</span> transfers money
</h1>

<form [formGroup]="transferForm" (submit)="transfer($event)">
  <div class="field">
    <label class="label" for="amount">Amount</label>
    <div class="control">
      <input class="input" type="number" id="amount" required formControlName="amount" />
    </div>
  </div>

  <div class="field">
    <label class="label">To</label>
    <div class="control">
      <label class="radio">
        <input type="radio" value="bank" formControlName="target" required />
        Bank
      </label>
      <label class="radio" *ngFor="let player of eq.state.players | keyvalue">
        <input type="radio" value="{{ player.key }}" formControlName="target" />
        {{ player.key }}
      </label>
      <ng-container *ngFor="let company of eq.state.companies | keyvalue">
        <label class="radio" *ngIf="!company.value.isPrivate" [appCompanyColors]="company.value">
          <input type="radio" value="{{ company.key }}" formControlName="target" />
          {{ company.key}}
        </label>
      </ng-container>
    </div>
  </div>

  <div class="field">
    <label class="label">Reason</label>
    <div class="control">
      <label class="radio" *ngFor="let reason of reasons">
        <input type="radio" [value]="reason" formControlName="reason" />
        {{ reason | titlecase }}
      </label>
    </div>
  </div>

  <div class="field">
    <div class="control buttons">
      <input class="button is-primary" type="submit" value="Transfer" [disabled]="transferForm.invalid" />
    </div>
  </div>
</form>
