<a [routerLink]="['../../..']">
  <fa-icon [icon]="['fas', 'angle-double-left']"></fa-icon>
  Return to control overview
</a>

<h1 class="title" *ngIf="type === 'player'">Taking turn for {{ name }}</h1>
<h1 class="title" *ngIf="type === 'company' || type === 'private'">
  Taking turn for <span [appCompanyColors]="eq.state.companies[name]">{{ name }}</span>
</h1>

<ng-container *ngIf="type ==='player' && eq.state.settings">
  Cash: {{ eq.state.settings.currencySymbol }}{{ eq.state.players[name].cash }}
  <div *ngIf="eq.state.players.hasOwnProperty(name)">
    Shares:
    <span *ngFor="let share of eq.state.players[name].shares | keyvalue"
         [appCompanyColors]="eq.state.companies[share.key]">
      {{ share.key }}: {{ share.value }}
    </span>
  </div>
</ng-container>
<ng-container *ngIf="type === 'company' && eq.state.settings">
  Treasury: {{ eq.state.settings.currencySymbol }}{{ eq.state.companies[name].cash }}
  <div *ngIf="eq.state.companies.hasOwnProperty(name)">
    Shares:
    <span *ngFor="let share of eq.state.companies[name].shares | keyvalue"
          [appCompanyColors]="eq.state.companies[share.key]">
      {{ share.key }}: {{ share.value }}
    </span>
  </div>
</ng-container>

<div class="buttons">
  <a class="button" routerLink="transfer-money" *ngIf="type !== 'private'">Transfer money</a>
  <a class="button" routerLink="buy-share" *ngIf="type !== 'private'">Buy share</a>
  <a class="button" routerLink="sell-share" *ngIf="type !== 'private'">Sell share</a>
  <a class="button" routerLink="operate" *ngIf="type === 'company'">Run trains</a>
  <a class="button" routerLink="edit" *ngIf="type === 'company'">Edit company</a>
  <a class="button" routerLink="remove" *ngIf="type === 'company' || type === 'private'">Remove company</a>
</div>
