<a [routerLink]="['../']">
  <fa-icon [icon]="['fas', 'angle-double-left']"></fa-icon>
  Return to actions
</a>

<h1 class="title" *ngIf="type === 'player'">{{ name }} sells shares</h1>
<h1 class="title" *ngIf="type === 'company'">
  <span [appCompanyColors]="eq.state.companies[name]">{{ name }}</span> sells shares
</h1>

<form [formGroup]="sellForm" (submit)="sell($event)">
  <div class="field">
    <label class="label" for="amount">Number of shares</label>
    <div class="control">
      <input class="input" type="number" id="amount" formControlName="amount" />
    </div>
  </div>

  <div class="field">
    <label class="label">Company</label>
    <div class="control">
      <ng-container *ngFor="let company of eq.state.companies | keyvalue">
        <label class="radio" *ngIf="allowedToSell(company.key, company.value)"
               [appCompanyColors]="company.value">
          <input type="radio" value="{{ company.key }}" formControlName="company" />
          {{ company.key }}
        </label>
      </ng-container>
    </div>
  </div>

  <div class="field">
    <label class="label">To</label>
    <div class="control">
      <label class="radio" *ngIf="!eq.state.settings?.disableIPO">
        <input type="radio" [value]="SHARE_SOURCE.IPO" formControlName="to" required />
        IPO
      </label>
      <label class="radio">
        <input type="radio" [value]="SHARE_SOURCE.POOL" formControlName="to" />
        Pool
      </label>
      <ng-container *ngFor="let company of eq.state.companies | keyvalue">
        <label class="radio" [appCompanyColors]="company.value"
               *ngIf="allowedToSell(company.key, company.value, true)">
          <input type="radio" value="{{ company.key }}" formControlName="to" />
          {{ company.key }}
        </label>
      </ng-container>
    </div>
  </div>

  <div class="field">
    <label class="label" for="price">Price per share</label>
    <div class="control">
      <input class="input" type="number" id="price" formControlName="price" />
    </div>
  </div>

  <div class="field">
    <div class="control buttons">
      <input class="button is-primary" type="submit" value="Sell" [disabled]="sellForm.invalid" />
    </div>
  </div>
</form>
