<div class="tile is-parent is-vertical">
  <div class="tile is-child card">
    <div class="card-header">
      <p class="card-header-title">
        Players
      </p>
    </div>
    <div class="card-content">
      <div class="columns">
        <div class="column is-2 is-size-5 low-padding">Name</div>
        <div class="column is-2 is-size-5 low-padding">Cash</div>
        <div class="column is-size-5 low-padding">Shares</div>
      </div>
      <div class="columns" *ngFor="let player of gameState.state.players | keyvalue">
        <div class="column is-2 low-padding">{{ player.key }}</div>
        <div class="column is-2 low-padding">{{ gameState.currencySymbol }}{{ player.value.cash }}</div>
        <div class="column low-padding">
          <ng-container *ngFor="let share of player.value.shares | keyvalue">
            <span *ngIf="share.value !== 0" [appCompanyColors]="gameState.state.companies[share.key]">
              {{ share.key }}
              <ng-container *ngIf="!gameState.state.companies[share.key].isPrivate">{{ share.value }}</ng-container>
            </span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="tile is-child card">
    <div class="card-header">
      <p class="card-header-title">
        Companies
      </p>
    </div>
    <div class="card-content">
      <!-- Major & minor companies -->
      <div class="columns">
        <div class="column is-2 is-size-5 low-padding">Name</div>
        <div class="column is-1 is-size-5 low-padding">Cash</div>
        <div class="column is-1 is-size-5 low-padding">Rev.</div>
        <div class="column is-1 is-size-5 low-padding">Size</div>
        <div class="column is-1 is-size-5 low-padding" *ngIf="!gameState.state.settings?.disableIPO">IPO</div>
        <div class="column is-1 is-size-5 low-padding">Pool</div>
        <div class="column is-size-5 low-padding">Shares</div>
      </div>
      <ng-container *ngFor="let company of gameState.state.companies | keyvalue">
        <div class="columns" *ngIf="!company.value.isPrivate" [appCompanyColors]="company.value" [noSpacing]="true">
          <div class="column is-2 low-padding">{{ company.key }}</div>
          <div class="column is-1 low-padding">{{ gameState.currencySymbol }}{{ company.value.cash }}</div>
          <div class="column is-1 low-padding">{{ gameState.currencySymbol }}{{ company.value.totalRevenue() }}</div>
          <div class="column is-1 low-padding">{{ company.value.shareCount }}</div>
          <div class="column is-1 low-padding" *ngIf="!gameState.state.settings?.disableIPO">
            <ng-container *ngIf="company.value.ipoShares !== 0">
              {{ company.value.ipoShares }}
            </ng-container>
          </div>
          <div class="column is-1 low-padding">
            <ng-container *ngIf="company.value.poolShares !== 0">
              {{ company.value.poolShares }}
            </ng-container>
          </div>
          <div class="column low-padding">
            <ng-container *ngFor="let share of company.value.shares | keyvalue">
              <span *ngIf="share.value !== 0" [appCompanyColors]="gameState.state.companies[share.key]">
                {{ share.key }}
                <ng-container *ngIf="!gameState.state.companies[share.key].isPrivate">{{ share.value }}</ng-container>
              </span>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <!-- Privates -->
      <ng-container *ngIf="privatesAvailable()">
        <div class="columns">
          <div class="column is-size-5 low-padding">Available private companies</div>
        </div>
        <div>
          <ng-container *ngFor="let company of gameState.state.companies | keyvalue">
          <span *ngIf="company.value.isPrivate && company.value.poolShares !== 0" [appCompanyColors]="company.value">
            {{ company.key }} ({{ gameState.currencySymbol }}{{ company.value.privateIncome }})
          </span>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
