<div class="buttons">
  <a class="button" [routerLink]="['undo', 0]">Undo action</a>
  <a class="button" (click)="newOR()">Start new OR</a>
</div>

<h1 class="title">Take a turn for</h1>
<h3 class="subtitle">Players</h3>
<div class="buttons">
  <a class="button" *ngFor="let player of eq.state.players | keyvalue"
     [routerLink]="['turn', 'player', player.key]">
    {{ player.key }}
  </a>
</div>

<h3 class="subtitle">Companies</h3>
<div class="buttons">
  <a class="button" *ngFor="let company of eq.state.companies | keyvalue" [appCompanyColors]="company.value"
     [routerLink]="['turn', company.value.isPrivate ? 'private' : 'company', company.key]">
    {{ company.key }}
  </a>
</div>
