<app-menu>
  <ng-container menu-start>
    <a class="navbar-item" routerLink="/new-game">New game</a>
  </ng-container>
</app-menu>

<div class="container">
  <h1 class="title">Start a new game</h1>

  <form [formGroup]="newGameForm" (submit)="createNewGame($event)">
    <h2 class="subtitle">Players</h2>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Starting cash</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="number" placeholder="Starting cash" formControlName="startingCash" />
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <a class="button is-info" (click)="addPlayer()">Extra player</a>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal" formArrayName="players" *ngFor="let player of players.controls; let i=index">
      <div class="field-label is-normal">
        <label class="label">Player {{ i + 1 }}</label>
      </div>
      <div class="field-body">
        <div class="field has-addons">
          <div class="control">
            <input class="input" type="text" placeholder="Player name" [formControlName]="i" />
          </div>
          <div class="control">
            <a class="button is-danger" title="Remove" (click)="removePlayer(i)">Remove</a>
          </div>
        </div>
      </div>
    </div>

    <h2 class="subtitle">General</h2>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Preset</label>
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <div class="buttons has-addons">
              <a class="button" *ngFor="let preset of PRESETS | keyvalue"
                 [class.is-success]="selectedPreset === preset.key" (click)="selectPreset(preset.key)">
                {{ preset.key }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Bank size</label>
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <input class="input" type="number" placeholder="Bank size" formControlName="bank" />
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Currency symbol</label>
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <input class="input" type="text" formControlName="currencySymbol" />
          </div>
        </div>
      </div>
    </div>

    <h2 class="subtitle">Settings</h2>
    <div class="field is-horizontal">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <label class="label">
              <input type="checkbox" formControlName="disableIPO">
              Disable IPO
            </label>
            <p class="help">
              Select this if the game requires no IPO, i.e. in partial cap games or when the shares can only be in
              player's hands or the pool.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Default share location</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <div class="select">
              <select formControlName="defaultShareSource">
                <option [value]="SHARE_SOURCE.IPO" *ngIf="!newGameForm.get('disableIPO').value">IPO</option>
                <option [value]="SHARE_SOURCE.POOL">Pool</option>
                <option [value]="SHARE_SOURCE.TREASURY">Company treasury</option>
              </select>
            </div>
            <p class="help">This determines where shares will initially be placed when creating a new company.</p>
            <p class="help is-danger" *ngIf="newGameForm.errors?.defaultShareSourceInvalid">
              The default share source can not be the IPO while it is disabled
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal" *ngIf="!newGameForm.get('disableIPO').value">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <label class="label">
              <input type="checkbox" formControlName="ipoDividendToTreasury">
              IPO shares pay dividend to the treasury
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <label class="label">
              <input type="checkbox" formControlName="poolDividendToTreasury">
              Pool shares pay dividend to the treasury
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <label class="label">
              <input type="checkbox" formControlName="treasuryShareDividendToTreasury">
              Shares in the company treasury pay dividend to the treasury
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <label class="label">
              <input type="checkbox" formControlName="companiesCanOwnOtherCompanies">
              Companies can own shares of other companies
            </label>
            <p class="help">
              Companies are always allowed to own privates. Enabling this can be helpful for dealing with mergers.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <label class="label">
              <input type="checkbox" formControlName="shortingAllowed">
              Players can short sell shares
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <label class="label">
              <input type="checkbox" formControlName="canSplitRevenue">
              Companies can split their revenue
            </label>
            <p class="help">
              Adds a button during the operating step that can be used to pay half of the revenue as dividend and
              withhold the other half.
            </p>
          </div>
        </div>
      </div>
    </div>

    <h2 class="subtitle" *ngIf="companies || privates">The following companies are automatically created</h2>
    <div class="columns is-multiline is-mobile">
      <div *ngFor="let private of privates; let i=index;" class="column is-narrow" [appCompanyColors]="private">
        {{ private.name }} <a class="delete" (click)="removePrivate(i)"></a>
      </div>
      <div *ngFor="let company of companies; let i=index;" class="column is-narrow" [appCompanyColors]="company">
        {{ company.name }}
        ( {{ company.shares }}-share
        <ng-container *ngIf="company.startingCash > 0">
          , {{ newGameForm.get('currencySymbol').value }}{{ company.startingCash }} treasury
        </ng-container>
        )
        <a class="delete" (click)="removeCompany(i)"></a>
      </div>
    </div>

    <div class="notification is-danger" *ngIf="newGameForm.get('players').errors?.tooFewPlayers">
      You need to add more players before you can start the game
    </div>
    <div class="field">
      <div class="control">
        <input class="button is-primary" type="submit" value="Start" [disabled]="newGameForm.invalid"/>
      </div>
    </div>
  </form>
</div>
