<a [routerLink]="['../']">
  <fa-icon [icon]="['fas', 'angle-double-left']"></fa-icon>
  Return to actions
</a>

<h1 class="title">
  <span [appCompanyColors]="eq.state.companies[name]">{{ name }}</span> runs trains
</h1>
<form [formGroup]="operateForm">
  <ng-container formArrayName="revenues">
    <div class="field has-addons" *ngFor="let revenue of revenues.controls; let i=index">
      <div class="control">
        <input class="input" type="number" [formControlName]="i" />
      </div>
      <div class="control">
        <a class="button is-danger" (click)="removeRevenueField(i)">Remove train</a>
      </div>
    </div>
  </ng-container>

  <div class="buttons">
    <a class="button" (click)="addRevenueField()">Add train</a>
  </div>

  <div class="label">Total: {{ totalRevenue() }}</div>

  <div class="buttons">
    <button class="button is-primary" (click)="operate(DIVIDEND_METHOD.FULL)" [disabled]="operateForm.invalid">
      Pay dividends
    </button>
    <button class="button is-danger" (click)="operate(DIVIDEND_METHOD.SPLIT)" [disabled]="operateForm.invalid"
            *ngIf="eq.state.settings && eq.state.settings.canSplitRevenue">
      Split
    </button>
    <button class="button is-warning" (click)="operate(DIVIDEND_METHOD.WITHHOLD)" [disabled]="operateForm.invalid">
      Withhold
    </button>
  </div>
</form>
