<form [formGroup]="netWorthForm" *ngIf="netWorthForm">
  <table class="table">
    <thead>
      <tr>
        <th>Company</th>
        <th></th>
        <th *ngFor="let player of gameState.state.players | keyvalue">
          {{ player.key }}
        </th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Company</th>
        <th></th>
        <th *ngFor="let player of gameState.state.players | keyvalue">
          {{ player.key }}
        </th>
      </tr>
    </tfoot>

    <tbody>
      <tr>
        <td></td>
        <td>Cash</td>
        <td *ngFor="let player of gameState.state.players | keyvalue">
          {{ player.value.cash }}
        </td>
      </tr>
      <tr [appCompanyColors]="company.value" *ngFor="let company of gameState.state.companies | keyvalue">
        <td>{{ company.key }}</td>
        <td>
          <input class="input" type="number" [formControlName]="company.key" />
        </td>
        <td *ngFor="let player of gameState.state.players | keyvalue">
          <ng-container
            *ngIf="subNetWorth.hasOwnProperty(player.key) && subNetWorth[player.key].hasOwnProperty(company.key)">
            {{ subNetWorth[player.key][company.key] }}
          </ng-container>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Net worth</td>
        <td *ngFor="let player of gameState.state.players | keyvalue">
          {{ netWorth[player.key] }}
        </td>
      </tr>
    </tbody>
  </table>
</form>

<div *ngIf="gameState.log.length > 0">
  Game started on {{ gameState.log[0].created | date:'longDate' }}
</div>
