<nav class="navbar">
  <div class="navbar-brand">
    <span class="navbar-item">18xx Moderator</span>

    <a role="button" class="navbar-burger" (click)="toggleMenu()" [class.is-active]="showMenu">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div class="navbar-menu" [class.is-active]="showMenu">
    <div class="navbar-start">
      <ng-content select="[menu-start]"></ng-content>
    </div>
    <div class="navbar-end">
      <ng-content select="[menu-end]"></ng-content>
    </div>
  </div>
</nav>
