<a [routerLink]="['../']">
  <fa-icon [icon]="['fas', 'angle-double-left']"></fa-icon>
  Return to actions
</a>

<h1 class="title">
  Edit <span [appCompanyColors]="eq.state.companies[name]">{{ name }}</span>
</h1>

<form [formGroup]="editForm" (submit)="edit($event)" *ngIf="editForm">
  <div class="field">
    <label class="label" for="shareCount">Number of shares</label>
    <div class="control">
      <input class="input" type="number" id="shareCount" formControlName="shareCount" required />
    </div>
  </div>

  <div class="field">
    <label class="label">Add/remove shares from</label>
    <div class="control">
      <label class="radio" *ngIf="!eq.state.settings?.disableIPO">
        <input type="radio" formControlName="shareSource" [value]="SHARE_SOURCE.IPO"> IPO
      </label>
      <label class="radio">
        <input type="radio" formControlName="shareSource" [value]="SHARE_SOURCE.TREASURY"> Treasury
      </label>
      <label class="radio">
        <input type="radio" formControlName="shareSource" [value]="SHARE_SOURCE.POOL" required> Pool
      </label>
    </div>
  </div>

  <div class="field" *ngIf="eq.state.companies.hasOwnProperty(name)">
    <label class="label">Text color</label>
    <div class="control">
      <color-chrome [color]="eq.state.companies[name].textColor" [disableAlpha]="true"
                    (onChange)="handleTextColorChange($event)"></color-chrome>
    </div>
  </div>

  <div class="field" *ngIf="eq.state.companies.hasOwnProperty(name)">
    <label class="label">Background color</label>
    <div class="control">
      <color-chrome [color]="eq.state.companies[name].backgroundColor" [disableAlpha]="true"
                    (onChange)="handleBackgroundColorChange($event)"></color-chrome>
    </div>
  </div>

  <div class="field">
    <label class="label">Preview</label>
    <div class="control">
      <div class="box has-text-weight-bold is-narrow" [appCompanyColors]="editForm.value">{{ name }}</div>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <input class="button is-primary" type="submit" value="Edit" [disabled]="editForm.invalid" />
    </div>
  </div>
</form>
