<div class="tile is-parent">
  <div class="tile is-child card">
    <div class="card-header">
      <p class="card-header-title">Add company</p>
    </div>
    <div class="card-content">
      <form [formGroup]="newCompanyForm" (submit)="createCompany($event)">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="name">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" id="name" type="text" formControlName="name" minlength="1" />
                <p class="help is-danger" *ngIf="newCompanyForm.controls['name'].errors?.duplicateName">
                  The name of the company must be unique
                </p>
              </div>
            </div>
          </div>
        </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="shares">Number of shares</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <input class="input" id="shares" type="number" formControlName="shares" />
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="cash">Starting cash</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <input class="input" id="cash" type="number" formControlName="startingCash" />
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" formControlName="ownsOwnShares" />
                    Place shares in treasury
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
              <div class="columns">
                <div class="column">
                  <label class="label">Text color</label>
                  <color-chrome [color]="newCompanyForm.value['textColor']" [disableAlpha]="true"
                                (onChange)="handleTextColorChange($event)"></color-chrome>
                </div>
                <div class="column">
                  <label class="label">Background color</label>
                  <color-chrome [color]="newCompanyForm.value['backgroundColor']" [disableAlpha]="true"
                                (onChange)="handleBackgroundColorChange($event)"></color-chrome>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">Preview</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <div class="box has-text-weight-bold" [appCompanyColors]="newCompanyForm.value">
                    {{ newCompanyForm.value['name'] }}
                  </div>
                </div>
              </div>
            </div>
          </div>

        <div class="field is-horizontal">
          <div class="field-label"></div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="button is-primary" type="submit" value="Create company"
                       [disabled]="newCompanyForm.invalid" />
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
