<a [routerLink]="['../../']">
  <fa-icon [icon]="['fas', 'angle-double-left']"></fa-icon>
  Return to control overview
</a>

<div class="notification is-warning">
  Warning: undoing an event is not reflected before you commit.
</div>

<nav class="pagination" role="navigation">
  <ul class="pagination-list">
    <li><a class="pagination-link" [class.is-current]="page === 0" routerLink="../0">1</a></li>

    <div class="pagination-ellipsis" *ngIf="page > 3">&hellip;</div>
    <li *ngIf="(page - 2) > 0">
      <a class="pagination-link" [routerLink]="['../', page - 2]">{{ page - 1 }}</a>
    </li>
    <li *ngIf="(page - 1) > 0">
      <a class="pagination-link" [routerLink]="['../', page - 1]">{{ page }}</a>
    </li>
    <li *ngIf="page > 0 && page < numPages">
      <a class="pagination-link is-current">{{ page + 1 }}</a>
    </li>
    <li *ngIf="(page + 1) < numPages">
      <a class="pagination-link" [routerLink]="['../', page + 1]">{{ page + 2 }}</a>
    </li>
    <li *ngIf="(page + 2) < numPages" [routerLink]="['../', page + 2]">
      <a class="pagination-link">{{ page + 3 }}</a>
    </li>
    <div class="pagination-ellipsis" *ngIf="(page + 3) < numPages">&hellip;</div>

    <li *ngIf="numPages >= 1">
      <a class="pagination-link" [class.is-current]="page === numPages" [routerLink]="['../', numPages]">
        {{ numPages + 1 }}
      </a>
    </li>
  </ul>
</nav>

<div class="columns is-mobile"
     *ngFor="let event of logSlice">
  <div class="column is-one-fifth">
    <button class="button is-rounded" (click)="undo(event.number)" *ngIf="isUndoable(event)">
      <fa-icon [icon]="['fas', 'undo']"></fa-icon>
    </button>
  </div>
  <div class="column">
    <app-log-entry [entry]="event"></app-log-entry>
  </div>
</div>
