<app-menu>
  <ng-container menu-start>
    <a class="navbar-item" [routerLink]="['/overview', gameId]" routerLinkActive="is-active"
       [routerLinkActiveOptions]="{exact: true}">
      Overview
    </a>
    <a class="navbar-item" [routerLink]="['/control', gameId]" routerLinkActive="is-active"
       [routerLinkActiveOptions]="{exact: true}">
      Control
    </a>
  </ng-container>
  <ng-container menu-end>
    <a class="navbar-item" routerLink="/new-game">New game</a>
  </ng-container>
</app-menu>

<div class="container is-fluid">
  <router-outlet></router-outlet>
</div>

<app-queue></app-queue>
