<div class="card top-margin">
  <div class="card-header">
    <p class="card-header-title">Queued actions</p>
  </div>

  <div class="card-content">
    <div class="columns is-mobile" *ngFor="let event of eq.events; let id=index">
      <div class="column is-narrow">
        <a class="button" (click)="remove(id)">
          <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
        </a>
      </div>
      <div class="column">
        <app-log-entry [entry]="event"></app-log-entry>
      </div>
    </div>
    <div *ngIf="eq.events.length === 0">No actions queued</div>
  </div>

  <div class="card-footer">
    <a class="card-footer-item has-background-primary" (click)="commit()">Commit</a>
  </div>
</div>
