<a [routerLink]="['../']">
  <fa-icon [icon]="['fas', 'angle-double-left']"></fa-icon>
  Return to actions
</a>

<h1 class="title">Remove <span [appCompanyColors]="eq.state.companies[name]">{{ name }}</span></h1>
<a class="button is-danger" (click)="remove()">I am sure that I want to remove {{ name }}</a>
