@import "../../../../../node_modules/bulma/sass/utilities/all"
@import "../../../../../node_modules/bulma/sass/grid/columns"

.expandable
  cursor: pointer

.main-text
  padding: 0 $column-gap

.undone
  text-decoration: line-through

.revenue + .revenue::before
  content: ' +'
