<div [class.undone]="entry.undone" [ngSwitch]="entry.type">
  <div *ngSwitchCase="EVENT_TYPE.COMPANY_ADDED" class="main-text" [appCompanyColors]="company(entry.name)">
    <ng-container *ngIf="entry.isPrivate">
      Added private {{ entry.name }} with {{ gameState.currencySymbol }}{{ entry.privateIncome }} revenue
    </ng-container>
    <ng-container *ngIf="!entry.isPrivate">
      Added {{ entry.shares }}-share company {{ entry.name }} with {{ gameState.currencySymbol }}{{ entry.startingCash }}
    </ng-container>
  </div>

  <div *ngSwitchCase="EVENT_TYPE.COMPANY_EDITED" class="main-text" [appCompanyColors]="company(entry.name)">
    Edited company {{ entry.name }}, it now has {{ entry.shareCount }} shares
  </div>

  <div *ngSwitchCase="EVENT_TYPE.COMPANY_REMOVED" class="main-text" [appCompanyColors]="company(entry.company)">
    Removed company {{ entry.company }}
  </div>

  <div *ngSwitchCase="EVENT_TYPE.COMPOUND" class="main-text" (click)="toggleDetails()">
    <fa-icon [icon]="['fas', 'plus-circle']" *ngIf="!showDetails"></fa-icon>
    <fa-icon [icon]="['fas', 'minus-circle']" *ngIf="showDetails"></fa-icon>
    {{ entry.title }}

    <div class="detail-text is-size-7" *ngIf="showDetails">
      <app-log-entry *ngFor="let event of entry.events" [entry]="event"></app-log-entry>
    </div>
  </div>

  <div *ngSwitchCase="EVENT_TYPE.MONEY_TRANSFERRED" class="main-text">
    <span [appCompanyColors]="company(entry.from)">{{ entry.from }}</span>
    <span> transferred {{ gameState.currencySymbol }}{{ entry.amount }} to </span>
    <span [appCompanyColors]="company(entry.to)">{{ entry.to }}</span>
    <ng-container [ngSwitch]="entry.reason">
      <ng-container *ngSwitchCase="'loan'"> for loans</ng-container>
      <ng-container *ngSwitchCase="'token'"> for a token</ng-container>
      <ng-container *ngSwitchCase="'track lay'"> to build track</ng-container>
      <ng-container *ngSwitchCase="'train'"> for a train</ng-container>
    </ng-container>
  </div>

  <div *ngSwitchCase="EVENT_TYPE.OPERATED" class="main-text is-expandable" (click)="toggleDetails()">
    <fa-icon [icon]="['fas', 'plus-circle']" *ngIf="!showDetails"></fa-icon>
    <fa-icon [icon]="['fas', 'minus-circle']" *ngIf="showDetails"></fa-icon>
    <span [appCompanyColors]="company(entry.company)">{{ entry.company }}</span>
    <ng-container *ngIf="company(entry.company)?.isPrivate">
      pays {{ gameState.currencySymbol }}{{ entry.amount }} revenue
    </ng-container>
    <ng-container *ngIf="!company(entry.company)?.isPrivate">
      runs trains for {{ gameState.currencySymbol }}{{ revenue() }}.
      <ng-container [ngSwitch]="entry.method">
        <ng-container *ngSwitchCase="DIVIDEND_METHOD.FULL">Pays dividend.</ng-container>
        <ng-container *ngSwitchCase="DIVIDEND_METHOD.SPLIT">Splits.</ng-container>
        <ng-container *ngSwitchCase="DIVIDEND_METHOD.WITHHOLD">Withholds.</ng-container>
      </ng-container>
    </ng-container>
    <div class="detail-text is-size-7" *ngIf="showDetails">
      Trains run for
      <span class="revenue" *ngFor="let revenue of entry.revenues">
        &nbsp;{{ gameState.currencySymbol }}{{ revenue }}
      </span>
    </div>
  </div>

  <div *ngSwitchCase="EVENT_TYPE.PLAYER_ADDED" class="main-text">
    Added player {{ entry.name }} with {{ gameState.currencySymbol }}{{ entry.startingCash }}
  </div>

  <div *ngSwitchCase="EVENT_TYPE.SETTINGS_CHANGED" class="main-text is-expandable" (click)="toggleDetails()">
    <fa-icon [icon]="['fas', 'plus-circle']" *ngIf="!showDetails"></fa-icon>
    <fa-icon [icon]="['fas', 'minus-circle']" *ngIf="showDetails"></fa-icon>
    Settings changed
    <div class="detail-text is-size-7" *ngIf="showDetails">
      Bank set to {{ gameState.currencySymbol }}{{ entry.bankSize }}<br />
      The shares of new companies are placed in the {{ entry.defaultShareSource }} by default<br />
      <ng-container *ngIf="entry.ipoPaysDividend">
        IPO shares pay dividend to the treasury<br />
      </ng-container>
      <ng-container *ngIf="entry.poolPaysDividend">
        Pool shares pay dividend to the treasury<br />
      </ng-container>
      <ng-container *ngIf="entry.treasuryPaysDividend">
        Shares in the company treasury shares pay dividend<br />
      </ng-container>
      <ng-container *ngIf="entry.disableIPO">
        The IPO is disabled<br />
      </ng-container>
      <ng-container *ngIf="entry.companiesCanOwnOtherCompanies">
        Companies can own shares of other companies<br />
      </ng-container>
      <ng-container *ngIf="entry.shortingAllowed">
        Player can short sell shares
      </ng-container>
      <ng-container *ngIf="entry.canSplitRevenue">
        Companies can pay half dividend while withholding the other half of the revenue
      </ng-container>
    </div>
  </div>

  <div *ngSwitchCase="EVENT_TYPE.SHARE_TRANSFERRED" class="main-text">
    <span [appCompanyColors]="company(entry.buyer)">{{ entry.buyer }}</span>
    <span *ngIf="entry.amount > 0"> bought</span>
    <span *ngIf="entry.amount < 0"> sold</span>
    <span *ngIf="!company(entry.company)?.isPrivate"> {{ entry.amount | abs }} shares</span>
    &nbsp;<span [appCompanyColors]="company(entry.company)">{{ entry.company }}</span>
    <span *ngIf="entry.amount > 0"> from</span>
    <span *ngIf="entry.amount < 0"> to</span>
    &nbsp;<span [appCompanyColors]="company(entry.seller)">{{ entry.seller }}</span>
    for {{ gameState.currencySymbol }}{{ entry.price }}
    <span *ngIf="!company(entry.company)?.isPrivate"> each</span>
  </div>

  <div *ngSwitchCase="EVENT_TYPE.UNDONE" class="main-text" (click)="toggleDetails()">
    <fa-icon [icon]="['fas', 'plus-circle']" *ngIf="!showDetails"></fa-icon>
    <fa-icon [icon]="['fas', 'minus-circle']" *ngIf="showDetails"></fa-icon>
    Undone event {{ entry.eventNumber }}
    <div class="detail-text is-size-7" *ngIf="showDetails">
      <app-log-entry [entry]="gameState.findEvent(entry.eventNumber)"></app-log-entry>
    </div>
  </div>

  <div *ngSwitchDefault class="main-text">
    Unknown event {{ entry.type }}
  </div>
</div>
