@import "~node_modules/bulma/sass/utilities/initial-variables.sass"
@import "~node_modules/bulma/sass/utilities/derived-variables.sass"

.overflow-container
  height: 100%
  min-height: 14rem
  position: relative

.log
  display: flex
  flex-direction: column
  position: absolute
  overflow-y: auto
  top: 0
  bottom: 3rem
  width: 100%

.limit-height
  height: 100%

.log :nth-last-child(odd)
  background-color: $light

.bank
  flex-grow: 0

.modal-content
  width: unset
