<app-menu>
  <ng-container menu-start>
    <a class="navbar-item" [routerLink]="['/overview', gameId]" routerLinkActive="is-active"
       [routerLinkActiveOptions]="{exact: true}">
      Overview
    </a>
    <a class="navbar-item" [routerLink]="['/control', gameId]" routerLinkActive="is-active"
       [routerLinkActiveOptions]="{exact: true}">
      Control
    </a>
    <a class="navbar-item" [routerLink]="['add-company']" routerLinkActive="is-active">Add company</a>
    <a class="navbar-item" (click)="toggleQR()">Game QR code</a>
    <a class="navbar-item" [routerLink]="['net-worth']" routerLinkActive="is-active">Net worth</a>
  </ng-container>
  <ng-container menu-end>
    <a class="navbar-item" routerLink="/new-game">New game</a>
  </ng-container>
</app-menu>

<div class="container is-fluid top-margin">
  <div class="tile is-ancestor">
    <div class="tile is-8">
      <router-outlet></router-outlet>
    </div>

    <div class="tile is-parent is-vertical is-4">
      <div class="tile is-child card bank">
        <div class="card-header">
          <p class="card-header-title">Bank</p>
        </div>
        <div class="card-content">
          Remaining: {{ gameState.currencySymbol }}{{ gameState.state.bank }}
        </div>
      </div>

      <div class="tile is-child card">
        <div class="card-header">
          <p class="card-header-title">
            Log
          </p>
        </div>
        <div class="card-content limit-height">
          <div class="overflow-container">
            <div class="log">
              <div class="log-entry" *ngFor="let entry of gameState.log.slice().reverse()">
                <app-log-entry [entry]="entry"></app-log-entry>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal is-active" *ngIf="showQR">
  <div class="modal-background" (click)="toggleQR()"></div>
  <div class="modal-content">
    <ngx-kjua [text]="window.location.href.replace('overview', 'control')" size="400"></ngx-kjua>
  </div>
  <button class="modal-close is-large"></button>
</div>
