@charset "utf-8"
@import "../node_modules/bulma/bulma.sass"

.low-padding
  padding-top: 0
  padding-bottom: 0

.top-margin
  margin-top: $column-gap

.company
  padding: 0.1rem 0.25rem

.company + .company
  margin-left: .75rem
