<a [routerLink]="['../']">
  <fa-icon [icon]="['fas', 'angle-double-left']"></fa-icon>
  Return to actions
</a>

<h1 class="title" *ngIf="type === 'player'">{{ name }} buys shares</h1>
<h1 class="title" *ngIf="type === 'company'">
  <span [appCompanyColors]="eq.state.activeCompanies[name]">{{ name }}</span> buys shares
</h1>

<form [formGroup]="buyForm" (submit)="buy($event)">
  <div class="field">
    <label class="label" for="amount">Number of shares</label>
    <div class="control">
      <input class="input" type="number" id="amount" formControlName="amount" required />
    </div>
  </div>

  <div class="field">
    <label class="label">Company</label>
    <div class="control">
      <ng-container *ngFor="let company of eq.state.activeCompanies | keyvalue">
        <label class="radio" *ngIf="allowedToBuy(company.value, company.key)"
               [appCompanyColors]="company.value">
          <input type="radio" [value]="company.key" formControlName="company" required />
          {{ company.key }}
        </label>
      </ng-container>
    </div>
  </div>

  <div class="field" *ngIf="buyForm.value['company']">
    <label class="label">From</label>
    <div class="control">
      <label class="radio" *ngIf="ipoSharesAvailable(buyForm.value['company'])">
        <input type="radio" [value]="SHARE_SOURCE.IPO" formControlName="from" required />
        IPO
      </label>
      <label class="radio" *ngIf="poolSharesAvailable(buyForm.value['company'])">
        <input type="radio" [value]="SHARE_SOURCE.POOL" formControlName="from" required />
        Pool
      </label>
      <ng-container *ngFor="let player of eq.state.players | keyvalue">
        <label class="radio" *ngIf="playerHasShares(player.key)">
          <input type="radio" value="{{ player.key }}" formControlName="from" required />
          {{ player.key }}
        </label>
      </ng-container>
      <ng-container *ngFor="let company of eq.state.activeCompanies | keyvalue">
        <label class="radio" *ngIf="companyHasShares(company.key)" [appCompanyColors]="company.value">
          <input type="radio" value="{{ company.key }}" formControlName="from" required />
          {{ company.key }}
        </label>
      </ng-container>
    </div>
  </div>

  <div class="field" *ngIf="buyForm.value['company']">
    <label class="label" for="price">Price per share</label>
    <div class="control">
      <input class="input" type="number" id="price" formControlName="price" required />
    </div>
  </div>

  <div class="field">
    <div class="control buttons">
      <input class="button is-primary" type="submit" value="Buy" [disabled]="buyForm.invalid" />
    </div>
  </div>
</form>
